body{
    font-family: 'Poppins', sans-serif;
    background-color:rgb(7, 6, 8) ;
}

.layout {
    display: grid;
    grid-template-columns: 190px 1fr;
}

.nav-left {
    background-color: rgb(7, 6, 8);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

/* nav label */
.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.dropdown {
  position: absolute;
  left: 100%;       
  top: 50%;
  transform: translateY(-50%);
  background-color: #222;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
}


.nav-item:hover .dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) translateX(5px);
}



/* wrapper logo */
.logo-wrap {
    margin-bottom: 17vh;
}

/* icon */
.icon {
    width: 3vh;
    height: 3vh;
    padding: 1.5vh 1.5vh 1.5vh 0;
    display: flex;
    flex-direction: column;
    
}

.icon:hover {
    opacity: 0.5;
}

/* profil */
.profil {
    width: 3vh;
    height: 3vh;
    padding: 1.5vh 1.5vh 1.5vh 0;
    border-radius: 50%;
    object-fit: cover;
}

.profil:hover {
    opacity: 0.5;
}

.icon, .profil, .logo-wrap {
  transition: all 0.8s ease;
}

@media (max-height: 500px) {
  .icon {
    width: 20px;
    height: 20px;
    padding: 10px;
  }
  .profil {
    width: 20px;
    height: 20px;
    padding: 0.5vh;
  }
  .logo-wrap {
    margin-bottom: 3vh;
  }
}

main {
  grid-column: 2;
  min-height: 600px;
  background-color:rgb(7, 6, 8);
  margin: auto;
  width: 100%;
  max-width: 675px;
  padding: 10px 50px;
}

.profile-header{
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    padding: 40px;
    background-color: rgb(7, 6, 8)  ;
    color: white;
    grid-column: 2;
}

.profile-header a{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: flex ;
}
.profile-img {
    border-radius: 50%;
    width: 150px;
    padding: 5px;
    margin: 10px;
}

.profile-ring {
    padding:0.5px ;
    border-radius: 50%; 
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    display: inline-block;
}

.setting {
    width: 3vh;
    height: 3vh;
    display: flex;
    flex-direction: column;
}

.setting :hover {
  opacity: 0.5;
  transition: all 0.8s ease;
}


.profile-info {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

.tag {
  font-size: 14px;
  color: gray;
  margin-top: 4px;
}

.profile-stats {
  display: flex;
  gap: 20px; 
  margin-top: 8px;
}


.profile-stats p,
.profile-stats a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.action-bar {
  background-color: rgb(7, 6, 8);
  justify-content: center;
  display: flex;
}

.action-bar nav{
  background-color: rgb(46, 46, 46);
  border-radius: 5px;
  border: 1px;
  padding: 10px;
  margin: 0 20px ;
  width: 250px;
  text-align: center;
  cursor: pointer;
}
.action-bar a{
  color: white;
  text-decoration: none;
  text-align: center;
}

.action-bar nav:hover{
  background-color: rgb(66, 66, 66);
}

.highlight {
    background-color: rgb(7, 6, 8);
    padding: 20px 30px;
    overflow-x:auto ;
    gap: 20px;
    display: flex;
    margin: auto; 
}

  
  .highlight a{
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: medium;
  }

  .highlight img{
    border-radius: 50%;
    height: 70px;
    width: 76px;
    padding: 5px;
  }

  .highlight-ring {
    padding: 1px;
    border-radius: 50%; 
    background: gray;
    display: inline-block;
  }

  .highlight-ring img {
    border-radius: 50%;
    display: block;
  }

.btn-selector {
  padding: 10px;
  background-color: rgb(7, 6, 8);
  display: flex;
  justify-content: center;  
  gap: 100px;
}

.btn-selector button {
  background-color: transparent;
  border-style: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.btn-selector img {
  width: 24px;
  height: 24px;
  padding: 3px;
}

.btn-selector button:hover::after {
  content: "";
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}

.btn-selector button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}
.btn-selector button.active::after {
  content: "";
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 0;                               
  grid-column: 2;
  max-width: 900px;
  margin: 0 auto;       
}

.post-grid img {
  /* aspect-ratio: 1/1; */
  width: 100%;
  height: 90%;
  object-fit: cover;  
  display: block;
}


/* preview */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal:target {
  display: flex;
}


.modal-content {
  position: relative;
  background: #111;
  padding: 20px;
  border-radius: 8px;
  z-index: 1; 
}

.modal-content img {
  max-width: 80vh;
  max-height: 80vh;
  display: flex;
}


.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8); 
  z-index: 0;
}

.modal-setting {
  position: relative;   
  background: #111;
  padding: 20px;
  z-index: 1;           
  width: 70vh;
  border-radius: 10%;
}

.modal-setting a {
  display: block;
  font-size: small;
  padding: 15px 20px;
  color: white;
  text-decoration:none;
  border-bottom: 1px solid gray;
  justify-content: center;
}

.modal-setting a:hover {
  opacity: 0.5;
  transition: all 0.4s ease;
}

/* ======================= search panel ============================== */
.search-panel {
  position: fixed;
  top: 0;
  left: 0;            
  width: 350px;        
  height: 100vh;
  background: #111;
  color: white;
  padding: 20px;
  display: none;       
  z-index: 999;        
}

.search-panel:target {
  display: block;
}

.close-search {
  display: block;
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.search-panel h3 {
  text-align: left;
  font-size: 25px;
}

.search-panel input {
  width: 270px;
  height: 27px;
  border-radius: 15px;
}
/* ======================================================================== */

/*============================ like or notif ===============================*/
.notif-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background: #111;
  color: white;
  padding: 20px;
  display: none;        
  z-index: 999;        
  overflow-y: auto;
}
.notif-panel h3{
  text-align: left;
  font-size: 25px;
} 

.notif-panel h4 {
  text-align: left;
}

.notif-panel:target {
  display: block;      
}

.close-notif {
  display: block;
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
 

.notif-content { 
  display: flex;
  border-bottom: 1px solid white;
}

.notif-content a{
  text-decoration: none;
  color: white;
  display: flex;
  padding: 20px 0;              
}

.notif-content img {
  width: 4vh; height: 4vh;
  padding: 10px;
}

.text-content {
  margin: 2px 0;   
  line-height: 0.5; 
}
/* ==========================================================================  */

/* =========================== Message Panel ================================ */
.message-panel {
  position: fixed;
  top: 0;
  left: 100px;
  width: 350px;
  height: 100vh;
  background: #111;
  color: white;
  padding: 20px;
  display: none;
  z-index: 500;
  overflow-y: auto;
}

.message-panel h3{
  text-align: left;
  font-size: 25px;
}

.message-panel:target {
  display: block; 
}

.close-message {
  display: block;
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.msg-content { 
  display: flex;
  text-align: left;
}

.msg-content a{
  text-decoration: none;
  color: white;
  display: flex;
  padding: 10px 0;              
}


.msg-content img {
  width: 4vh; height: 4vh;
  padding: 0 10px;
  border-radius: 50%;
}

.text-content {
  margin: 2px 0;   
  line-height: 0.5; 
}

.call-vc-details {
  display: flex;
}
/* ========================================================================== */

/* ============================ chat panel ================================== */
.chat-panel {
  position: fixed;
  top: 0;
  left: 100px; 
  width: 1200px;
  height: 100vh;
  background: #222;
  color: white;
  padding: 20px;
  display: none;
  z-index: 600;
  overflow-y: auto;
}

.chat-panel:target {
  display: block; 
}

.close-chat {
  display: block;
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.chat-panel img {
  width: 4vh; height: 4vh;
  padding: 0 10px;
  border-radius: 50%;
}

.chat-content {
  display: flex;
  text-align: left;
  border-bottom: 0.5px solid gray;
  justify-content: space-between;
}

.chat-content a{
  text-decoration: none;
  color: white;
  display: flex;
  padding: 10px 0;   
}

.chat-body {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 60px; 
}

.chat-input {
  position: absolute;
  bottom: 75px;
  width: 1200px;
  height: 50px;
  display: flex;
  gap: 10px;
  
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.chat-input button {
  background: #0095f6;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}
/* ========================================================================== */


@media (max-width: 768px) {
  main {
    width: 100%;
    max-width: 100%;   
    margin: 0;
    padding: 10px;     
  }

  .profile-header {
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    padding: 20px;
  }

  .profile-img {
    width: 100px;   
    margin: 0;
  }

  .action-bar {
    flex-direction: column; 
    gap: 10px;
  }

  .action-bar nav {
    width: 100%;    
    margin: 5px 0;
  }

  .highlight {
    gap: 10px;
    padding: 10px;
  }

  .highlight img {
    width: 60px;
    height: 60px;
  }

  .btn-selector {
    gap: 30px; 
  }

  .post-grid {
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px;
    margin-top: 25px;
  }

  .post-grid img {
    height: 100%; 
    transition: all 0.8s ease;
  }
}


@media (max-width: 480px) {
  .post-grid {
    grid-template-columns: 1fr; 
  }
}

