.layout {
    display: grid;
    grid-template-columns: 1900px 1fr 300px;
}

.nav-left {
    background-color: black;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 190px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nav label */
.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.dropdown {
  position: absolute;
  left: 100%;       
  top: 50%;
  transform: translateY(-50%);
  background-color: #222;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
}


.nav-item:hover .dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) translateX(5px);
}



/* wrapper logo */
.logo-wrap {
    margin-bottom: 17vh;
}

/* icon */
.icon {
    width: 3vh;
    height: 3vh;
    padding: 1.5vh 1.5vh 1.5vh 0;
    display: flex;
    flex-direction: column;
    
}

.icon:hover {
    opacity: 0.5;
}

/* profil */
.profil {
    width: 3vh;
    height: 3vh;
    padding: 1.5vh 1.5vh 1.5vh 0;
    border-radius: 50%;
    object-fit: cover;
}

.profil:hover {
    opacity: 0.5;
}

.icon, .profil, .logo-wrap {
  transition: all 0.8s ease;
}



@media (max-height: 500px) {
  .icon {
    width: 20px;
    height: 20px;
    padding: 10px;
  }
  .profil {
    width: 20px;
    height: 20px;
    padding: 0.5vh;
  }
  .logo-wrap {
    margin-bottom: 3vh;
  }
}
