body {
  background-color: rgb(7, 6, 8);
  font-family: 'Poppins', sans-serif;
}


.layout {
    display: grid;
    grid-template-columns: 190px 1fr;
}

.nav-left {
    background-color: rgb(7, 6, 8);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

/* nav label */
.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}


.dropdown {
  position: absolute;
  left: 100%;       
  top: 50%;
  transform: translateY(-50%);
  background-color: #222;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
}


.nav-item:hover .dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) translateX(5px);
}



/* wrapper logo */
.logo-wrap {
    margin-bottom: 17vh;
}

/* icon */
.icon {
    width: 3vh;
    height: 3vh;
    padding: 1.5vh 1.5vh 1.5vh 0;
    display: flex;
    flex-direction: column;
    
}

.icon:hover {
    opacity: 0.5;
}

/* profil */
.profil {
    width: 3vh;
    height: 3vh;
    padding: 1.5vh 1.5vh 1.5vh 0;
    border-radius: 50%;
    object-fit: cover;
}

.profil:hover {
    opacity: 0.5;
}

.icon, .profil, .logo-wrap {
  transition: all 0.8s ease;
}

/* ======================= search panel ============================== */
.search-panel {
  position: fixed;
  top: 0;
  left: 0;            
  width: 350px;        
  height: 100vh;
  background: #111;
  color: white;
  padding: 20px;
  display: none;       
  z-index: 999;        
}

.search-panel:target {
  display: block;
}

.close-search {
  display: block;
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.search-panel h3 {
  text-align: left;
  font-size: 25px;
}

.search-panel input {
  width: 270px;
  height: 27px;
  border-radius: 15px;
}
/* ======================================================================== */

/*============================ like or notif ===============================*/
.notif-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background: #111;
  color: white;
  padding: 20px;
  display: none;        
  z-index: 999;        
  overflow-y: auto;
}
.notif-panel h3{
  text-align: left;
  font-size: 25px;
} 

.notif-panel h4 {
  text-align: left;
}

.notif-panel:target {
  display: block;      
}

.close-notif {
  display: block;
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
 

.notif-content { 
  display: flex;
  border-bottom: 1px solid white;
}

.notif-content a{
  text-decoration: none;
  color: white;
  display: flex;
  padding: 20px 0;              
}

.notif-content img {
  width: 4vh; height: 4vh;
  padding: 10px;
}

.text-content {
  margin: 2px 0;   
  line-height: 0.5; 
}
/* ==========================================================================  */

/* =========================== Message Panel ================================ */
.message-panel {
  position: fixed;
  top: 0;
  left: 100px;
  width: 350px;
  height: 100vh;
  background: #111;
  color: white;
  padding: 20px;
  display: none;
  z-index: 500;
  overflow-y: auto;
}

.message-panel h3{
  text-align: left;
  font-size: 25px;
}

.message-panel:target {
  display: block; 
}

.close-message {
  display: block;
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.msg-content { 
  display: flex;
  text-align: left;
}

.msg-content a{
  text-decoration: none;
  color: white;
  display: flex;
  padding: 10px 0;              
}


.msg-content img {
  width: 4vh; height: 4vh;
  padding: 0 10px;
  border-radius: 50%;
}

.text-content {
  margin: 2px 0;   
  line-height: 0.5; 
}

.call-vc-details {
  display: flex;
}
/* ========================================================================== */

/* ============================ chat panel ================================== */
.chat-panel {
  position: fixed;
  top: 0;
  left: 100px; 
  width: 1200px;
  height: 100vh;
  background: #222;
  color: white;
  padding: 20px;
  display: none;
  z-index: 600;
  overflow-y: auto;
}

.chat-panel:target {
  display: block; 
}

.close-chat {
  display: block;
  text-align: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.chat-panel img {
  width: 4vh; height: 4vh;
  padding: 0 10px;
  border-radius: 50%;
}

.chat-content {
  display: flex;
  text-align: left;
  border-bottom: 0.5px solid gray;
  justify-content: space-between;
}

.chat-content a{
  text-decoration: none;
  color: white;
  display: flex;
  padding: 10px 0;   
}

.chat-body {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 60px; 
}

.chat-input {
  position: absolute;
  bottom: 75px;
  width: 1200px;
  height: 50px;
  display: flex;
  gap: 10px;
  
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.chat-input button {
  background: #0095f6;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}
/* ========================================================================== */

@media (max-height: 500px) {
  .icon {
    width: 20px;
    height: 20px;
    padding: 10px;
  }
  .profil {
    width: 20px;
    height: 20px;
    padding: 0.5vh;
  }
  .logo-wrap {
    margin-bottom: 3vh;
  }
}

/* feed */
.story-ig {
  background-color: rgb(7, 6, 8);
  padding: 37px;
  width: 100%;
  max-width: 700px;
  grid-column: 2;
  overflow-x:auto ;
  gap: 10px;
  display: flex;
  margin: auto;
  /* margin: 0 20px; */
}

.story-ig a {
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: medium;
}

.story-ring {
  padding: 1px;
  border-radius: 50%; /* ini wajib! */
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  display: inline-block;
}

.story-ring img {
  border-radius: 50%;
  display: block;
}


.story-ig img {
  border-radius: 50%;
  height: 70px;
  width: 76px;
  padding: 5px;
}

.story-ig, .story-ig img, .story-ring{
  transition: all 0.8s ease;}

@media (max-height:900px) {
  .story-ig {
    padding: 37px;
    gap: 6px;
  
  }

  .story-ig img {
    height: 50px;
    width: 50px;
    padding: 6px;
  }
}


/* feed content */
/* header */
main {
  grid-column: 2;
  min-height: 600px;
  background-color:rgb(7, 6, 8);
  /* margin: 0 10px; */ 
  margin: auto;
  width: 100%;
  max-width: 675px;
  padding: 10px 50px;
}


.post {
 padding: 10px;
}

.post header{
  padding: 5px;
  display: flex;
}

.post p{
  color: white;
  text-align: center;
  padding: 5px;
}

.avatar {
  width: 30px;
  height: 30px;
  padding: 15px;
  border-radius: 50%;
}

.other {
  margin-left: auto;
}

main, .post, .post header, .post p, .avatar, .other {
  transition: all 0.8s ease;
}

/* postingan */
.other img {
  padding: 15px 10px 10px 10px;
  width: 30px;
  height: 30px;
}

.post-media {
  padding: 5px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.post-media img {
  
  width: 100%;
  display: flex;
  height: 100%;
  object-fit: cover;
  border-radius: 2.5%;
}

.other img, .post-media, .post-media img {
transition: all 0.8s ease;
}

/* button */
.btn-post {
  padding: 3px;
  display: flex;
}

.btn-post button {
  background-color: transparent;
  border-style: none;
  gap: 5px;
}

.btn-post img {
  width: 24px;
  height: 24px;
  padding: 3px;
}

.btn-save {
  margin-left: auto
}

.btn-post button:hover {
  transform: scale(1.15);
  transition: transform 0.2s ease;
}

.btn-post, .btn-post button, .btn-post img, .btn-save {
  transition: all 0.8s ease;
}

/* caption  */
.caption {
  margin: 5px;
}

.caption p {
    text-align: left;
    padding: 5px;
    font-size: 16px;
}

/* button dm */
.nav-dm {
  position: fixed;
  background-color: rgb(36, 36, 36);
  width: 130px;
  border-radius: 50px;
  bottom: 20px;
  right: 70px;

}

.nav-dm a {
  text-decoration: none;
  display: flex;
  margin: 3px ;
  padding: 5px 6px;
  color: white;
}

.nav-dm img {
  height: 25px;
  display: flex;
  margin: 0 15px
}

.nav-dm:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}


